

// New Styles

body {
font-size:16px;
background-color: white;
}

div#app {
  text-align: center;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.outer {
  display: inline-block;
}


.containsTitle {
  height: 10rem;
  text-align: left;
}

.title {
  margin-top: 6rem;
  font-size: 2rem;

}

.containsSnapshots {
  margin-top: 6rem;
  margin-bottom: 6rem;
  text-align: left;

}
.snapshot {
  float: left;
  display: inline-block;
  padding-right: 4rem;
}

.projectStructure {
  height: 10rem;
  text-align: left;


}

.projectDetails {
  text-align: left;
}

.projectImage {
  margin-bottom: 6rem;
}
